{% load static %}
<script src="{% static 'temp/js/jquery-3.6.0.min.js' %}"></script>
<!-- owl carousel cdn -->

<link rel="stylesheet" href="{% static 'temp/css/custome-style.css' %}">
<link rel="stylesheet" href="{% static 'temp/css/header.css' %}">
<link rel="stylesheet" href="{% static 'temp/css/theme.css' %}">
<link rel="stylesheet" href="{% static 'temp/css/responsive.css' %}">
<link rel="stylesheet" href="{% static 'temp/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'temp/css/owl.carousel.min.css' %}">
