{% load static %}
<style>
  .footer {
    background-color: #222222; /* Corrected hex color code */
    color: #ffffff;
  }
</style>

<footer class="">
    <div class="footer pt-4 px-5">
      <div class="row">
        <div class="col-md-4 col-lg-3">
          <!-- Single widget  -->
          <div class="footer-widget">
            <img
              class="mb-3"
              style="max-height: 83px"
              src="https://banner2.cleanpng.com/20180926/qau/kisspng-computer-icons-scalable-vector-graphics-applicatio-tynor-wrist-splint-ambidextrous-rs-274-wrist-s-5bac3149dcb297.944285061538011465904.jpg"
              alt=""
            />
            <p class="text-white">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi
              rem consequuntur tenetur molestias repellendus quia dicta. Minus
              iusto doloremque maxime.
            </p>

            <nav class="nav social social-white text-md-end">
              <a
                href="https://www.facebook.com/"
                target="_blank"
                class="facebook me-3"
                ><i style="color: #383838" class="bi bi-facebook"></i
              ></a>
              <a
                href="https://twitter.com/"
                class="twitter me-3"
                target="_blank"
                ><i style="color: #383838" class="bi bi-twitter"></i
              ></a>
              <a
                href="https://www.youtube.com/"
                target="_blank"
                class="youtube me-3"
                ><i style="color: #383838" class="bi bi-youtube"></i
              ></a>
            </nav>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <!-- Single widget  -->
          <div class="footer-widget">
            <h4
              style="
                color: #fff;
                border-bottom: 1px solid #e9e9e9;
                padding: 10px 0;
              "
              class="widget-title"
            >
              Company Details
            </h4>
            <ul class="widget-menu p-0">
              <li class="widget-menu-item">
                <a class="widget-menu-list" href="#">About Us</a>
              </li>
              <li class="widget-menu-item">
                <a class="widget-menu-list" href="#">Contact Us</a>
              </li>
              <li class="widget-menu-item">
                <a class="widget-menu-list" href="#">Terms of Use</a>
              </li>
              <li class="widget-menu-item">
                <a class="widget-menu-list" href="#">Privacy Policy</a>
              </li>
              <li class="widget-menu-item">
                <a class="widget-menu-list" href="#">Happy Return</a>
              </li>
              <li class="widget-menu-item">
                <a class="widget-menu-list" href="#">Refund Policy</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <!-- Single widget  -->
          <div class="footer-widget">
            <h4
              style="
                color: #fff;
                border-bottom: 1px solid #e9e9e9;
                padding: 10px 0;
              "
              class="widget-title"
            >
              Customer Panel
            </h4>

            <ul class="widget-menu p-0">
              <li class="widget-menu-item">
                <a class="widget-menu-list" href="#">My Account</a>
              </li>
              <li class="widget-menu-item">
                <a class="widget-menu-list" href="#">Profile Update</a>
              </li>
              <li class="widget-menu-item">
                <a class="widget-menu-list" href="#">My Orders</a>
              </li>
              <li class="widget-menu-item">
                <a class="widget-menu-list" href="#">My Reviews</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-lg-3">
          <!-- Single widget  -->
          <div class="footer-widget">
            <h4
              style="
                color: #fff;
                border-bottom: 1px solid #e9e9e9;
                padding: 10px 0;
              "
              class="widget-title"
            >
              Get in Touch
            </h4>

            <ul class="widget-menu p-0">
              <li class="widget-menu-item">
                <a class="widget-menu-list" href="#">
                  <i class="bi bi-geo-alt"></i> Head Office</a
                >
                <br />
                <a class="widget-menu-list" href=""
                  >45 Banglabazar, Dhaka-1100</a
                >
              </li>
              <li class="widget-menu-item">
                <a class="widget-menu-list" href="#">
                  <i class="bi bi-phone"></i> Phone</a
                >
                <br />
                <a class="widget-menu-list" href=""
                  >01711-101010, 01711-202020</a
                >
              </li>
              <li class="widget-menu-item">
                <a class="widget-menu-list" href="#">
                  <i class="bi bi-envelope"></i> Email</a
                >
                <br />
                <a class="widget-menu-list" href=""
                  >biddabikash.publication@gmail.com</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row border-top pt-4 pb-0 mb-0">
        <div class="d-md-flex align-items-center justify-content-between">
          <p class="mb-lg-0 text-white">
            © 2023 <a href="/">Ecommerce Site</a>. All rights reserved.
          </p>
          <p class="text-white">
            Developed with
            <i style="max-height: 27px" height="50" class="bi bi-heart"></i>
            by
            <a href="" target="_blank">
              <img
                src="https://news2.de2233.com/img/brand_icon_d.png"
                height="50"
                alt=""
                class="mx-2"
                style="max-height: 27px"
            /></a>
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="mobileFooter fixed-bottom">
          <div class="f-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-home"
              width="30"
              height="44"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#9e9e9e"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
              <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
              <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
            </svg>
            <p>Home</p>
          </div>

          <div class="f-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-layout-grid"
              width="30"
              height="44"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#9e9e9e"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M4 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
              />
              <path
                d="M14 4m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
              />
              <path
                d="M4 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
              />
              <path
                d="M14 14m0 1a1 1 0 0 1 1 -1h4a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-4a1 1 0 0 1 -1 -1z"
              />
            </svg>
            <p>Categories</p>
          </div>

          <div class="f-icon">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="icon icon-tabler icon-tabler-user-circle"
              width="30"
              height="44"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="#9e9e9e"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M12 3m-9 9a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"
              />
              <path d="M12 11a3 3 0 1 0 0 -6a3 3 0 0 0 0 6z" />
              <path d="M6.75 17.7a6 6 0 0 1 10.5 0" />
            </svg>
            <p>Profile</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
