{% load static %}




<script src="{% static 'temp/js/jquery.min.js' %}"></script>
<script src="{% static 'temp/js/jquery.flexslider.js' %}"></script>
<script src="{% static 'temp/js/imagezoom.js' %}"></script>
<script src="{% static 'temp/js/bootstrap.min.js' %}"></script>
<script src="{% static 'temp/js/bootstrap.bundle.min.js' %}"></script>
<!-- <script src="{% static 'temp/js/owl.carousel.min.js' %}"></script> -->

<script src="{% static 'temp/js/fontawesome-all.min.js' %}"></script>
<script src="{% static 'temp/js/jquery-ui.min.js' %}"></script>
<script src="{% static 'temp/js/main.js' %}"></script>


